<div class="row col-md-10 offset-md-1">
  <div class="row"><%= link_to '<< Back', 'javascript:history.back()' %></div><br/><br/>
  
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h4 class="card-title"> <%= @recipe.title %> </h5>
        <p class="card-text"> <%= @recipe.category.name %> </p>
        <br/><br/>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img src="<%= @recipe.image_url%>" style="width:100%;">
        </div>
        <div class="col-md-6">
          <ul>
            <% @recipe.full_ingredients.each do |i|%>
              <p> <%=i%> </p>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-md-3">
          <b>Cook time: </b> <%=@recipe.cook_time%> minutes
        </div>
        <div class="col-md-3">
          <b>Prep time: </b> <%=@recipe.prep_time%> minutes
        </div>
      </div>
    </div>
  </div>
</div>